<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Art Attack</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  {{{header}}}
  <main>
    <aside>
      <h2>Enjoy the pictures!</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{{footer}}}
  {{#if loggedIn}}
  <script src="/js/loginlogout.js"></script>
  {{/if}}
</body>
</html>
