<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ART ATTACK! Lobby</title>
    <link rel ="stylesheet" href ="/css/lobby.css">
</head>
<body>
    
    <p id="gameSession"></p>

    <div class="player_tag" id="player1_tag">

        <h1 class ="player_name" class="player1_name">{{player1}}</h1>

    </div>

    <p id="status" class="lobby_text">Searching for player...</p>

    <div class="player_tag" id="player2_tag">

        <h1 class="player_name" id="player2_name">{{player2}}</h1>

    </div>

    </script>

    <script src="/js/lobby.js"></script>
</body>
</html>