<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Player Login</h1>
  </header>
  <main>
    <div class="row justify-space-between-md">
      <div class="login-card">
        <h2 class="page-title">Player 1 Login</h2>
        <form class="form login-form" id="login-form-player1">
          <div class="form-group">
            <label for="name-login-player1">Name:</label>
            <input class="form-input" type="text" id="name-login-player1" />
          </div>
          <div class="form-group">
            <label for="username-login-player1">Username:</label>
            <input class="form-input" type="text" id="username-login-player1" />
          </div>
          <div class="form-group">
            <label for="password-login-player1">Password:</label>
            <input class="form-input" type="password" id="password-login-player1" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Login Player 1</button>
          </div>
        </form>
      </div>

      <div class="login-card">
        <h2 class="page-title">Player 2 Login</h2>
        <form class="form login-form" id="login-form-player2">
          <div class="form-group">
            <label for="name-login-player2">Name:</label>
            <input class="form-input" type="text" id="name-login-player2" />
          </div>
          <div class="form-group">
            <label for="username-login-player2">Username:</label>
            <input class="form-input" type="text" id="username-login-player2" />
          </div>
          <div class="form-group">
            <label for="password-login-player2">Password:</label>
            <input class="form-input" type="password" id="password-login-player2" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit
