body{

    display: flex;
    flex-direction: column;
    background-color: rgb(240, 251, 161);
    height:700px;
    
}

#top_div{

    display:flex;
    height:500px;
    
    background-image: url(images/paint.jpg);

    
   
}

#bottom_div{

    display:flex;

    justify-content: space-around;

    height:190px;

    background-color: rgb(240, 251, 161);

    

}

#pencilGuy{

    position:absolute;
    transform: translateX(700px);
    margin-top:-50px;
    scale:95%;
}
#title{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72pt;
    margin-left: 100px;
    margin-top:auto;
    margin-bottom:auto;
    rotate: -15deg;
    font-weight: lighter;

}
#play_button{

    height:80px;
    width:180px;

    margin-top:auto;

    margin-bottom:auto;
    z-index: 95;
    font-size:x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(255, 0, 0, 0);
    border:none;
    color:rgb(112, 5, 5);

}

#play_button:hover{

    color:rgb(213, 198, 30);
    cursor: pointer;

}

#pencil{

    position:absolute;
    scale:50%;
    transform: rotate(-90deg);
    margin-right:-1025px;
    margin-top:-215px;

}

#gallery_button{

    height:120px;
    margin-top:auto;
    margin-bottom:auto;
    width:200px;
    font-size: x-large;
    transform: translateX(-11px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 95;
    border:none;

}

#gallery_button:hover{

    background-color:rgb(213, 198, 30);
    cursor: pointer;

}

#log_in_button{

    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:50px;
    margin-top:auto;
    margin-bottom:auto;
    width:100px;
    border-radius:10px;
    border:none;
    color:rgb(165, 42, 42);
    background-color: rgb(244, 136, 12);
    

}

#log_in_button:hover,#join_current_session_button:hover{

    background-color:rgb(213, 198, 30);
    cursor: pointer;

}

#frame{

    position:absolute;
    transform: translateY(-295px);
    scale:70%;
    margin-left:-975px

}

#suggestionBox{
    
    position:absolute;
    margin-top:710px;
    margin-left:200px;

}
#subjectInput{

    position: absolute;
    width:1000px;
    height:50px;
    margin-left:50px;

}
#suggestionsCaption{

    position:absolute;
    margin-left: -185px;
    transform: rotateZ(-10deg);
    transform: translateY();
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;

}


#join_current_session_button{

    width:auto;
    height:min-content;
    margin-top:auto;
    margin-bottom:auto;
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:50px;
    
    
    border-radius:10px;
    border:none;
    color:rgb(25, 96, 11);
    background-color: rgb(10, 206, 56);

}

#submitBtn{

        position:absolute;
        height:80px;
        width:180px;
    
        z-index: 95;
        font-size:x-large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color:rgba(255, 0, 0, 0);
        border:none;
        color:rgb(85, 81, 81);
        margin-left:1075px;
        margin-top:-10px;

}

#submitBtn:hover{

    color:yellow;
    cursor:pointer;

}



#submitgray{

    position:absolute;
    transform: rotateZ(-90deg);
    scale:30%;
    margin-right:-1250px;
    margin-top:-70px;

}