body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pictures {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.picture {
    border: solid 2px #000;
    width: 500px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#versus {
    border: solid 2px #000;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;   
    align-items: center;
    border-radius: 50px;
    margin: auto;
}

#versus h1 {
    margin: 0;
}

#player_names {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 150px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote_button {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(234, 246, 10);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: x-large;
    color: rgb(175, 108, 16);
    border-color: rgb(241, 215, 16);
    border-radius: 20px;
    cursor: pointer;
}

#home_button_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#home_button {
    width: 150px;
    height: 50px;
    background-color: rgb(234, 246, 10);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: x-large;
    color: rgb(175, 108, 16);
    border-color: rgb(241, 215, 16);
    border-radius: 20px;
    cursor: pointer;
}
