body{

    display: flex;
    flex-direction: column;
    background-color: rgb(240, 251, 161);
    height:700px;
    
}

#top_div{

    display:flex;
    height:500px;
    
    background-image: url(images/paint.jpg);

    
   
}

#bottom_div{

    display:flex;

    justify-content: space-around;

    height:190px;

    background-color: rgb(240, 251, 161);

    

}

#pencilGuy{

    position:absolute;
    transform: translateX(700px);
    margin-top:-50px;
    scale:95%;
}
#title{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72pt;
    margin-left: 100px;
    margin-top:auto;
    margin-bottom:auto;
    rotate: -15deg;

}
#play_button{

    height:80px;
    width:180px;

    margin-top:auto;

    margin-bottom:auto;
    z-index: 95;
    font-size:x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(255, 0, 0, 0);
    border:none;
    color:rgb(112, 5, 5);

}

#play_button:hover{

    color:rgb(213, 198, 30);
    cursor: pointer;

}

#pencil{

    position:absolute;
    scale:50%;
    transform: rotate(-90deg);
    margin-right:950px;
    margin-top:-215px;

}

#gallery_button{

    height:120px;
    margin-top:auto;
    margin-bottom:auto;
    width:200px;
    font-size: x-large;
    transform: translateX(-11px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 95;
    border:none;

}

#gallery_button:hover{

    background-color:rgb(213, 198, 30);
    cursor: pointer;

}

#log_in_button{

    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:50px;
    margin-top:auto;
    margin-bottom:auto;
    width:100px;
    border-radius:10px;
    border:none;
    color:rgb(165, 42, 42);
    background-color: rgb(244, 136, 12);
    

}

#log_in_button:hover{

    background-color:rgb(213, 198, 30);
    cursor: pointer;

}

#frame{

    position:absolute;
    transform: translateY(-295px);
    scale:70%;
    margin-left:-720px

}