body{

    background-color: rgb(240, 251, 161);;

}

#header{

    display:flex;
    justify-content: center;

}

#headerText{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    
    

}

#pictures{

    display: flex;
    justify-content: space-around;

}

#picture_1{

    border-color:red;

}

#picture_2{

    border-color:blue

}

.picture{

    border:solid;
    width:500px;
    height:520px;
    background-color: white;
    border-radius:10px;

}

#versus {

    border:none;
    color:white;
    width:100px;
    height:100px;
    display:flex;
    justify-content: center;   
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(173, 5, 5);

}

#fireball{

    position:absolute;
    scale:30%;
    transform: translateY(-930px);
    margin-left:-5px;

}

#versus h1{

    margin-top:auto;
    margin-bottom:auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    

}

#player_names{

    display: flex;
    flex-direction: row;
    

}


.player{

    display: flex;
    width:400px;
    justify-content: space-around;
    

}

#player1,#player2{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;

}

#player1_tag{

    margin-left: 150px;
    
}

#player2_tag{

    margin-left:480px;
    
}

.vote_button{

    width:100px;
    height:50px;
    margin-top:auto;
    margin-bottom:auto;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: x-large;
    
    
    border-radius:20px;

    

}

.vote_button:hover{

    cursor:pointer;
    opacity: 85%;

}

#p1_button{

   background-color: rgb(231, 89, 89);
   border-color:brown;
   color:rgb(73, 2, 2);
}

#p2_button{

    border-color:rgb(6, 6, 92);
    background-color: rgb(134, 134, 241);
    color:rgb(6, 6, 85);

}